doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='author', content='Mầu Hà Quang')
		meta(property='og:url', content='https://qmau.me/about')
		meta(property='og:type', content='article')
		meta(property='og:title', content='Mau Ha Quang')
		meta(property='og:image', content='https://qmau.me/images/avt.jpg')
		meta(property='og:site_name', content='Blog của Mầu')
		meta(property='og:description', content='Mầu Hà Quang | 94 | Tokyo,JP| Cựu sinh viên K57 Bách Khoa Hà Nội, đang làm việc tại Hot-factory.,ltd chi nhánh Tokyo.')
		title Mau Ha Quang
		// Bootstrap core CSS
		link(href='resume/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		// Custom fonts for this template
		link(href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
		link(href='resume/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='resume/vendor/devicons/css/devicons.min.css', rel='stylesheet')
		link(href='resume/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
		// Custom styles for this template
		link(href='resume/css/resume.css', rel='stylesheet')
	body#page-top
		nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
			a.navbar-brand.js-scroll-trigger(href='#page-top')
				span.d-block.d-lg-none qmau.me
				span.d-none.d-lg-block
					img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='images/avt.jpg', alt='')
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#about') About
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#itindustry') It industry
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#qmaume') qmau.me
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#work') Work 
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#education') Education
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#skills') Skills
					li.nav-item
						a.nav-link.js-scroll-trigger(href='#certificates') Certificates
					li.nav-item
						a.nav-link.js-scroll-trigger(href='/') Blog của Mầu
		.container-fluid.p-0
			section#about.resume-section.p-3.p-lg-5.d-flex.d-column
				.my-auto
					h2.mb-0
						| Mầu 
						span.text-primary Hà Quang
					.subheading.mb-5
						| Otaku · Tokyo, JP ·  
						a(href='mailto:mau@qmau.me') mau@qmau.me
					p.mb-5
						| Cựu sinh viên K57 Bách Khoa Hà Nội, đang làm việc tại Hot-factory.,ltd chi nhánh Tokyo.
					ul.list-inline.list-social-icons.mb-0
						li.list-inline-item
							a(href='https://fb.me/qmau94')
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-facebook.fa-stack-1x.fa-inverse
						li.list-inline-item
							a(href='https://twitter.com/qmau94')
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-twitter.fa-stack-1x.fa-inverse
						li.list-inline-item
							a(href='https://www.linkedin.com/in/qmau94/')
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-linkedin.fa-stack-1x.fa-inverse
						li.list-inline-item
							a(href='https://github.com/qmau94')
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-github.fa-stack-1x.fa-inverse
			section#itindustry.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 it industry
					p
						| Nếu bạn là một thanh niên thích game và không thích kinh tế thì Bách Khoa gần như là lựa chọn tốt nhất. Với điểm đại học và điểm tiếng Anh đầu vào không đến nỗi tệ mình đã đăng ký hệ ICT (CNTT Tiếng Anh) của BKHN, do không đủ chỉ tiêu để mở lớp nên mình được offer sang học hệ tiếng Nhật. Bằng một cái tặc lưỡi và 5 năm chơi bời vất vả thì hôm nay mình đang ngồi trong một căn phòng nhỏ đầy nắng ở Ota-ku, Tokyo.
					p.mb-0
						| Sang Nhật với hành trang khởi nghiệp vỏn vẹn 10 gói mỳ, vài cân hành khô, 1 vali quần áo, khoản ODA cuối cùng từ phụ huynh cùng vốn tiếng Nhật và IT gần như bằng không nên có thể nói cuộc hành trình của mình với ngành công nghiệp không khói bây giờ mới chỉ bắt đầu. Âu thì nghề nó đã chọn mình thì mình sẽ cũng phải sống tốt với nó thôi. 5 năm trước mình không có kế hoạch cho việc mình sẽ ở đây và làm việc này nhưng mình sẽ không để 5 năm tiếp theo cũng như vậy.
			section#qmaume.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 Qmau.me
					.subheading.mb-3 Tại sao phải viết blog
					ul.fa-ul.mb-0
						li
							i.fa-li.fa.fa-check
							| Sợ bị chê mày chỉ giỏi nói nên phải cố gắng giỏi cả viết.
						li
							i.fa-li.fa.fa-check
							| Chia sẻ những gì mình biết (chia sẻ là cách học nhanh nhất).
						li
							i.fa-li.fa.fa-check
							| Xây dựng tư duy mạch lạc, suy nghĩ chín chắn và có chiều sâu.
						li
							i.fa-li.fa.fa-check
							| Giảm số câu hỏi về việc đi làm có mệt không? bên đấy có đắt không? lương bao nhiêu? bao giờ lấy vợ?
					br
					br
					.subheading.mb-3 Blog sẽ viết về gì?
					ul.fa-ul.mb-0
						li
							i.fa-li.fa.fa-check
							|  DevInJap - Hành trình của bản thân tại Nhật Bản.
						li
							i.fa-li.fa.fa-check
							| Bạc xỉu - Các kỹ năng cứng, mềm, nhão.
						li
							i.fa-li.fa.fa-check
							| Trà đá - Góc bàn luận về bóng bánh, sách vở, du lịch và những thứ không liên quan tới 2 cái trên.

			section#work.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 Work
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 System Engineer
							.subheading.mb-3 HOT-FACTORY., LTD
							p
								| Hiện tại mình đang làm việc dưới tư cách kỹ sư hệ thống tại Hot-factory.,ltd - một công ty cung cấp giải pháp toàn diện về EC, FC cho các CLB thể thao tại Nhật Bản. Dù không thể đá bóng được nữa nhưng trong tương lai, bóng đá vẫn sẽ gắn liền với cuộc sống của mình.
						.resume-date.text-md-right
							span.text-primary 11/2017 - hiện tại
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 Engineer Trainee
							.subheading.mb-3 Framgia Vietnam
							p
								| Sau khi có naitei mình được công ty gửi training tại Framgia trong một thời gian ngắn, mình được học khá nhiều về workflow, teamworking và kỹ năng quản trị dự án tại đây. 
						.resume-date.text-md-right
							span.text-primary 5/2016 - 10/2016
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 Software Developer Intership
							.subheading.mb-3 Lifetime technologies Co., Ltd
							p
								| Công việc đầu tiên (đương nhiên là không lương) - thực tập sinh tại LIFETIME trong khoảng thời gian rất ngắn và chưa làm được gì nhiều đã phải nhảy việc (do yêu cầu của công ty mình nhận)
						.resume-date.text-md-right
							span.text-primary 11/2015 - 1/2016
			section#education.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 Education
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 Đại học Bách Khoa Hà Nội
							.subheading.mb-3 HEDSPI - K57
						.resume-date.text-md-right
							span.text-primary 9/2012 - 7/2017
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 Chuyên Lý Tổng Hợp
							.subheading.mb-3 K24B
						.resume-date.text-md-right
							span.text-primary 8/2009 - 5/2012
					.resume-item.d-flex.flex-column.flex-md-row.mb-5
						.resume-content.mr-auto
							h3.mb-0 Hanoi - Amsterdam
							.subheading.mb-3 06-09
						.resume-date.text-md-right
							span.text-primary 9/2006 - 5/2009
			section#skills.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 Skills
					.subheading.mb-3 Programming Languages & Tools
					ul.list-inline.list-icons
						li.list-inline-item
							i.devicons.devicons-ruby
						li.list-inline-item
							i.devicons.devicons-java
						li.list-inline-item
							i.devicons.devicons-javascript
						li.list-inline-item
							i.devicons.devicons-nodejs
						li.list-inline-item
							i.devicons.devicons-ruby_on_rails
						li.list-inline-item
							i.devicons.devicons-wordpress
						li.list-inline-item
							i.devicons.devicons-mysql
						li.list-inline-item
							i.devicons.devicons-postgresql
						li.list-inline-item
							i.devicons.devicons-mongodb
						li.list-inline-item
							i.devicons.devicons-git
						li.list-inline-item
							i.devicons.devicons-terminal
						li.list-inline-item
							i.devicons.devicons-linux
						li.list-inline-item
							i.devicons.devicons-raspberry_pi
						li.list-inline-item
							i.devicons.devicons-redhat
						li.list-inline-item
							i.devicons.devicons-scrum


					.subheading.mb-3 Work
					ul.fa-ul.mb-0
						li
							i.fa-li.fa.fa-check
							| Web services, infrastructure
						li
							i.fa-li.fa.fa-check
							| Chatbot, NLP
						li
							i.fa-li.fa.fa-check
							| Agile Development & Scrum

			section#certificates.resume-section.p-3.p-lg-5.d-flex.flex-column
				.my-auto
					h2.mb-5 Certs
					ul.fa-ul.mb-0
						li
							i.fa-li.fa.fa-trophy.text-warning
							| FE (Fundamentals of Engineering Examination)
						li
							i.fa-li.fa.fa-trophy.text-warning
							| Japanese-Language Proficiency Test N3

		// Bootstrap core JavaScript
		script(src='resume/vendor/jquery/jquery.min.js')
		script(src='resume/vendor/bootstrap/js/bootstrap.bundle.min.js')
		// Plugin JavaScript
		script(src='resume/vendor/jquery-easing/jquery.easing.min.js')
		// Custom scripts for this template
		script(src='resume/js/resume.min.js')
		script.
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-102615102-1', 'auto');
			ga('send', 'pageview');

		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "AboutPage",
			"mainEntityOfPage": {
			"@type": "Blog",
			"@id": "https://qmau.me"
			},
			"about": {
			"@context": "http://schema.org",
			"@type": "Person",
			"name": "your name",
			"url": "http://www.your-site.com",
			"sameAs": [
			"https://www.facebook.com/qmau94",
			"https://www.linkedin.com/in/qmau94",
			"https://twitter.com/qmau94",
			"https://www.linkedin.com/in/qmau94/"
			]
			},
			"publisher": {
			"@type": "Organization",
			"name": "qmau.me",
			"logo": {
			"@type": "ImageObject",
			"url": "https://qmau.me/favicon.ico"
			}
			},
			"description": "About Mau Ha Quang"
			}
		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "Blog",
			"name": "Blog của Mầu",
			"description": "DevInJap - Hành trình của bản thân tại Nhật Bản. Bạc xỉu - Các kỹ năng cứng, mềm, nhão. Trà đá - Góc bàn luận về bóng bánh, sách vở, du lịch và những thứ không liên quan tới 2 cái trên.",
			"author": {
			"@context": "http://schema.org",
			"@type": "Person",
			"name": "Mau Ha Quang",
			"url": "https://www.qmau.me",
			"sameAs": [
			"https://www.facebook.com/qmau94",
			"https://www.linkedin.com/in/qmau94",
			"https://twitter.com/qmau94",
			"https://www.linkedin.com/in/qmau94/"
			]
			},
			"publisher": {
			"@type": "Organization",
			"name": "qmau.me",
			"logo": {
			"@type": "ImageObject",
			"url": "https://qmau.me/favicon.ico"
			}
			},
			"license": "https://opensource.org/licenses/MIT"
			}
