extends ../layouts/default
include ../mixins/post

include ../mixins/post
include ../mixins/amp-style

block head
	title #{data.tag.name} - qmau.me
	link(rel='canonical', href='https://qmau.me/tag/' + data.tag.key)
	+amp-style

block body
	h1.xs-hide.sm-hide.md-commerce-header.h3.md-py2.md-mb4 ##{data.tag.name}
	if data.posts.results
		each post in data.posts.results
			+post(post)
