doctype html
html(⚡='' lang="vi-VN")
  head
    meta(charset='utf-8')
    link(as='script', href='https://cdn.ampproject.org/v0.js', rel='preload')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    script(async='', custom-element='amp-selector', src='https://cdn.ampproject.org/v0/amp-selector-0.1.js')
    script(async='', custom-element='amp-accordion', src='https://cdn.ampproject.org/v0/amp-accordion-0.1.js')
    script(async='', custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js')
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
    script(async='', custom-element='amp-install-serviceworker', src='https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js')
    link(rel='manifest', href='/manifest.json')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/icons/icon-72x72.png')
    link(rel='apple-touch-icon', sizes='96x96', href='/images/icons/icon-96x96.png')
    link(rel='apple-touch-icon', sizes='128x128', href='/images/icons/icon-128x128.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/icons/icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/icons/icon-152x152.png')
    link(rel='apple-touch-icon', sizes='192x192', href='/images/icons/icon-192x192.png')
    link(rel='apple-touch-icon', sizes='394x394', href='/images/icons/icon-394x384.png')
    link(rel='apple-touch-icon', sizes='512x512', href='/images/icons/icon-512x512.png')
    link(rel="shortcut icon", href="/favicon.ico" type="image/x-icon")
    meta(property="og:image" content="https://qmau.me/favicon.png")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@qmau94')
    meta(name='twitter:creator', content='@qmau94')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='theme-color', content='#f44336')
    meta(name='application-name', content='qmau.me')
    link(rel='icon', type='image/png', href='/favicon.ico')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='msapplication-TileColor', content='#f44336')
    meta(name='msapplication-TileImage', content='/images/icons/icon-144x144.png')
    link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)', href='/img/logo-v.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', href='/img/logo-v.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', href='/img/logo-h.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)', href='/img/logo-h.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)', href='/img/logo-h.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)', href='/img/logo-v.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)', href='/img/logo-h.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)', href='/img/logo-v.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)', href='/img/logo-h.svg')
    link(rel='apple-touch-startup-image', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)', href='/img/logo-v.svg')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(type='application/ld+json').
      {"@context":"http://schema.org","@type":"Blog","name":"Blog của Mầu - qmau.me","description":"Hành trình của một lập trình viên tại Nhật Bản 🗼 với cốc ☕ Bạc xỉu dành cho những ý tưởng nghiêm túc và vài chút 🍵 Trà đá bên dăm ba mẩu chuyện vỉa hè.","author":{"@context":"http://schema.org","@type":"Person","name":"Mau Ha Quang","url":"https://www.qmau.me","sameAs":["https://www.facebook.com/qmau94","https://www.github.com/qmau94","https://twitter.com/qmau94","https://www.linkedin.com/in/qmau94/"]},"publisher":{"@type":"Organization","name":"qmau.me","logo":{"@type":"ImageObject","url":"https://qmau.me/logo.png"}},"license":"https://creativecommons.org/licenses/by-nc-nd/4.0/"}
    block head
  body
    // Start Navbar
    header.ampstart-headerbar.fixed.flex.justify-start.items-center.top-0.left-0.right-0.pl2.pr4
      .ampstart-navbar-trigger.md-hide.lg-hide.pr2(role='button', on='tap:header-sidebar.toggle', tabindex='0') ☰
      a.my0.mx-auto(href='/', aria-label="home")
        amp-img(src='/img/logo-h.svg', width='208', height='40', layout='fixed', alt='AMP by Example', noloading='')
      nav.ampstart-headerbar-nav.ampstart-nav.xs-hide.sm-hide
        ul.list-reset.m0.p0.flex.justify-center.nowrap
          li.ampstart-nav-item(class= (data && data.category) && data.category.key == "devinjap" ? "www-current-page" : "")
            a.text-decoration-none.block(href='/blog/devinjap') DevInJap
            .abe-list-container
              .abe-list-shadow
              ul.list-reset.m0.p0
                li.abe-has-sublist
                  a(href='/tag/amazingjapan') Amazing Japan
                  ul.list-reset.m0.p0.abe-sublist
                    li
                      a(href='/blog/post/di-chua-o-nhat') Đi chùa ở Nhật - 浅草寺
          li.ampstart-nav-item(class= (data && data.category) && data.category.key == "bac-xiu" ? "www-current-page" : "")
            a.text-decoration-none.block(href='/blog/bac-xiu') Bạc xỉu
            .abe-list-container
              .abe-list-shadow
              ul.list-reset.m0.p0
                li.abe-has-sublist
                  a(href='/tag/blogwithkeystones') Blogging cùng Keystone
                  ul.list-reset.m0.p0.abe-sublist
                    li
                      a(href='/blog/post/blogging-cung-keystone-js-1-envinronment')  Blogging cùng Keystone.js (1) - Envinronment
                    li
                      a(href='/blog/post/blogging-cung-keystone-js-2-development')  Blogging cùng Keystone.js (2) - Development
                    li
                      a(href='/blog/post/blogging-cung-keystone-js-3-deployment')  Blogging cùng Keystone.js (3) - Deployment
                li.abe-has-sublist
                  a(href='/tag/rest') REST & APIs
                  ul.list-reset.m0.p0.abe-sublist
                    li
                      a(href='/blog/post/rest-101-rest-restful-api') REST 101 - REST, RESTful API
                    li
                      a(href='/blog/post/rest-201-rest-vs-soap') REST 201 - REST vs SOAP
                li.abe-has-sublist
                  a(href='/tag/chatbot') Chatbot
                  ul.list-reset.m0.p0.abe-sublist
                    li
                      a(href='/blog/post/kanto-transit-chatbot-voi-yahoo-transit-va-node-js') [初雪] Kanto transit chatbot với Yahoo transit và Node.js
                    li
                      a(href='/blog/post/tat-ca-nhung-gi-ban-can-biet-ve-chatbot') Tất cả những gì bạn cần biết về Chatbot
          li.ampstart-nav-item(class= (data && data.category) && data.category.key == "tra-da" ? "www-current-page" : "")
            a.text-decoration-none.block(href='/blog/tra-da') Trà đá
            .abe-list-container
              .abe-list-shadow
              ul.list-reset.m0.p0
                li.abe-has-sublist
                  a(href='/tag/yearinreview') Year in review
                  ul.list-reset.m0.p0.abe-sublist
                    li
                      a(href='/blog/post/2017-year-in-review')  2017 YEAR IN REVIEW
                li
                  a(href='/bucket-list') Bucket-list
          li.ampstart-nav-item(class= !data ? "www-current-page" : "")
            a.text-decoration-none.block(href='/about') About me
    // Start Sidebar
    amp-sidebar#header-sidebar.ampstart-sidebar.px3.flex.flex-column.md-hide.lg-hide(layout='nodisplay')
      .flex.justify-start.items-center.ampstart-sidebar-header
        a.ampstart-navbar-trigger.items-start(href='#', on='tap:header-sidebar.toggle') ✕
      nav.ampstart-sidebar-nav.ampstart-nav
        a.block.caps.h4.py1.abe-primary(href='/blog/devinjap') DevInJap
        ul.list-reset.m0.p0.caps.h5
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header Amazing Japan
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/di-chua-o-nhat') Đi chùa ở Nhật - 浅草寺
            // End Dropdown-inline
        a.block.caps.h4.py1.abe-primary(href='/blog/bac-xiu') Bạc xỉu
        ul.list-reset.m0.p0.caps.h5
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header Blogging cùng Keystone
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/blogging-cung-keystone-js-1-envinronment')  Blogging cùng Keystone.js (1) - Envinronment
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/blogging-cung-keystone-js-2-development')  Blogging cùng Keystone.js (2) - Development
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/blogging-cung-keystone-js-3-deployment')  Blogging cùng Keystone.js (3) - Deployment
            // End Dropdown-inline
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header REST & APIs
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/rest-101-rest-restful-api') REST 101 - REST, RESTful API
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/rest-201-rest-vs-soap') REST 201 - REST vs SOAP
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header Chatbot
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/kanto-transit-chatbot-voi-yahoo-transit-va-node-js') [初雪] Kanto transit chatbot với Yahoo transit và Node.js
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/tat-ca-nhung-gi-ban-can-biet-ve-chatbot') Tất cả những gì bạn cần biết về Chatbot
            // End Dropdown-inline
        a.block.caps.h4.py1.abe-primary(href='/blog/tra-da') Trà đá
        ul.list-reset.m0.p0.caps.h5
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header Year in Review
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/blog/post/2017-year-in-review')  2017 YEAR IN REVIEW
            // End Dropdown-inline
          li.ampstart-nav-item.ampstart-nav-dropdown.relative
            // Start Dropdown-inline
            amp-accordion.ampstart-dropdown(layout='container', disable-session-states='')
              section
                header Pages
                ul.ampstart-dropdown-items.list-reset.m0.p0
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/bucket-list') Bucket-list
                  li.ampstart-dropdown-item
                    a.text-decoration-none.capitalize(href='/about') About me
            // End Dropdown-inline
      ul.ampstart-social-follow.list-reset.flex.justify-around.items-center.flex-wrap.m0.mb4
        li.mr2
          a.inline-block(href='https://m.me/qmau94', aria-label="messenger")
            amp-img(src='/img/facebook.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://twitter.com/qmau94', aria-label="twitter")
            amp-img(src='/img/twitter.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://github.com/qmau94', aria-label="github")
            amp-img(src='/img/github.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://www.linkedin.com/in/qmau94/', aria-label="linkedin")
            amp-img(src='/img/linkedin.svg', width='24', height='24')

    // End Sidebar
    // End Navbar
    block body
    // Start Footer
    footer.ampstart-footer.flex.flex-column.items-center.pxy3
      ul.ampstart-social-follow.list-reset.flex.justify-around.items-center.flex-wrap.m0.mb4
        li.mr2
          a.inline-block(href='https://m.me/qmau94', aria-label="messenger")
            amp-img(src='/img/facebook.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://twitter.com/qmau94', aria-label="twitter")
            amp-img(src='/img/twitter.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://github.com/qmau94', aria-label="github")
            amp-img(src='/img/github.svg', width='24', height='24')
        li.mr2
          a.inline-block(href='https://www.linkedin.com/in/qmau94/', aria-label="linkedin")
            amp-img(src='/img/linkedin.svg', width='24', height='24')


      nav.ampstart-footer-nav
        ul.list-reset.flex.flex-wrap.mb3
          li.px1
            a.text-decoration-none.caps.h5(href='https://github.com/qmau-me/qmau.me-amp/issues/new') feedback
          li.px1
            a.text-decoration-none.caps.h5(href='https://github.com/qmau-me/qmau.me-amp') github
          li.px1
            a.text-decoration-none.caps.h5(href='https://github.com/qmau-me/qmau.me-amp/blob/master/LICENSE') license
          li.px1
            a.text-decoration-none.caps.h5(href='/tos') terms
      a.item(href='https://creativecommons.org/licenses/by-nc-nd/4.0/', aria-label='cc license')
        amp-img(src='/img/cc.png', alt='Creative Commons License', width='80', height='15')
      small © 2018 qmau.me
    // End Footer
    amp-analytics#analytics(type='googleanalytics')
      script(type='application/json').
        {
        "vars": {
        "account": "UA-102615102-1"
        },
        "triggers": {
        "default pageview": {
        "on": "visible",
        "request": "pageview",
        "vars": {
        "title": "Blog của Mầu - qmau.me"
        }
        }
        }
        }
    amp-install-serviceworker(src='/service-worker.js', layout='nodisplay')
